/* Styles communs à toutes les pages */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* En-tête et navigation */
header {
    background: rgba(0, 0, 0, 0.5); /* Fond complètement transparent avec une légère opacité noire */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transform: translateY(-100%); /* Déplacer le menu vers le haut */
    transition: transform 0.5s ease-out; /* Ajouter une transition pour l'animation */
}

header.visible {
    transform: translateY(0); /* Réinitialiser la position du menu */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    position: relative;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #f5f5f5;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-links li:hover > .dropdown {
    display: block;
}

/* Boutons */
.btn {
    display: inline-block;
    background-color: #ce2b37;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b51c29;
}

/* Pied de page */
footer {
    background: linear-gradient(to right, #009246, #ce2b37);
    color: #fff;
    padding: 2rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #f5f5f5;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
}
