video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.video-container {
  position: relative;
  height: 100vh;
}
#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo{
  width: 18vw;
}

.text-degrade {
  font-family: "GFS Didot", serif;
  font-style: normal;;
  position: absolute;
  bottom: 300px;
  right: 0;
  font-size: x-large;
  margin: 250px;
  text-align: right;
  z-index: 2;
  font-size: 30px; /* Taille de la police de caractère */
  font-weight: bold; /* Épaisseur de la police de caractère */
  background-image: linear-gradient(to right, #D72C93, #7617A6); /* Dégradé de couleur */
  -webkit-background-clip: text; /* Spécifie que le dégradé doit être appliqué au texte */
  -webkit-text-fill-color: transparent; /* Rend le texte transparent */

}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

#shape {
  position: absolute;
  left: 0;
  bottom: -2vw;
}

img:not(#shape) {
  position: absolute;
  left: 0;
}

header img:nth-child(1) {
  animation: move-1 5s infinite;
}

@keyframes move-1 {
  50% {
    transform: translateY(15px);
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  font-family: 'Georgia, 'Times New Roman', Times, serif';
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 90%), rgba(255, 255, 255, 100%)), url(/img/background.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.carte,
.carte2 {
  width: 150px;
  height: 70px;
  margin: 20px;
  background-image: linear-gradient(400deg, #D72C93 0%, #7617A6 74%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout de transition pour une animation fluide */
  text-align: center; 
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre portée */
}

.carte:hover,
.carte2:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Augmentation de la taille de l'ombre au survol */
}

.carte:active,
.carte2:active {
  animation: rebond 0.3s;
}

@keyframes rebond {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.header-ul {
  position: absolute; /* Position absolue pour positionner la div */
  bottom: 55%; /* Aligner en haut en utilisant top */
  left: 70%; /* Ajustez la distance depuis le côté droit selon vos besoins */
  font-family: 'Courier New', Courier, monospace;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between; 
  width: 0px; /* Ajustez selon vos besoins */
  height: 200px; /* Ajustez selon vos besoins */
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
  margin: 0px; 
  height: 50%;
}

.seoul{
  width: 650px;
  height: 300px;
  margin: 20px;
  background-image: linear-gradient(400deg, #D72C93 0%, #7617A6 74%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: black;
  flex: 0 0 auto; /* Ne pas étirer l'image */
}

.seoul:hover {
  transform: scale(1.1);
}



@keyframes rebond {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.seoul-text {
  background-image: linear-gradient(to right, #D72C93, #7617A6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  max-width: 45%; /* Vous pouvez ajuster cette valeur selon vos besoins */
  word-wrap: break-word; /* Force les mots à aller à la ligne si nécessaire */
}
.seoul-content{
  display: flex;
  justify-content: flex-end;
}

.seoul-section{
  padding: 0;
}

.busan{
  width: 650px;
  height: 300px;
  margin: 20px;
  background-image: linear-gradient(400deg, #D72C93 0%, #7617A6 74%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: black;
  flex: 0 0 auto; /* Ne pas étirer l'image */
}

.busan:hover {
  transform: scale(1.1);
}



@keyframes rebond {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.busan-text {
  background-image: linear-gradient(to right, #D72C93, #7617A6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  max-width: 45%; /* Vous pouvez ajuster cette valeur selon vos besoins */
  word-wrap: break-word; /* Force les mots à aller à la ligne si nécessaire */
}
.busan-content{
  display: flex;
  justify-content: flex-end;
}

.busan-section{
  margin: 0;
  padding: 0;
}

.incheon{
  width: 650px;
  height: 300px;
  margin: 20px;
  background-image: linear-gradient(400deg, #D72C93 0%, #7617A6 74%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: black;
  flex: 0 0 auto; /* Ne pas étirer l'image */
}

.incheon:hover {
  transform: scale(1.1);
}



@keyframes rebond {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.incheon-text {
  background-image: linear-gradient(to right, #D72C93, #7617A6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  max-width: 70%; /* Vous pouvez ajuster cette valeur selon vos besoins */
  word-wrap: break-word; /* Force les mots à aller à la ligne si nécessaire */
}
.incheon-content{
  display: flex;
  justify-content: flex-end;
}

.incheon-section{
  margin: 0;
  padding: 0;
}


/* Ajoutez cette règle pour les sections des différentes villes */
.seoul-section, .busan-section, .incheon-section {
  margin: 300px; /* Espacement entre chaque section */
  display: flex;
  flex-direction: column; /* Dispose les éléments en ligne */
  align-items: center; /* Centre les éléments verticalement *//
  margin-bottom: 50px
}

/* Réduisez la largeur des images pour mieux s'adapter à l'espace */
.seoul, .busan, .incheon {
  max-width: 40%; /* Réduisez la largeur des images */
}

/* Ajoutez une marge horizontale pour séparer les images des paragraphes */
.seoul-text, .busan-text, .incheon-text {
  max-width: 60%; /* Ajustez selon vos besoins */
  margin-left: 20px; /* Ajoute une marge à gauche */
  margin-right: 20px; /* Ajoute une marge à droite */
}

.cities {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  bottom: 315px;
  width: 100%;
  background-color: rgba(45, 40, 72, 0.5); /* Couleur de fond transparente */
  backdrop-filter: blur(5px); /* Effet de flou pour la transparence */
  padding: 20px;
  display: flex;
  justify-content: space-around; /* Espacement uniforme entre les mots */
  align-items: center;
}

.cities a {
  font-size: 25px;
  color: #D52B96;
  text-decoration: none;
  transition: transform 0.3s ease;
}

/* Effet de translation lors du survol */
.cities a:hover {
  transform: translateY(-3px);
}
footer {
  background-color: #322d3f;
  padding: 20px;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form h3 {
  margin-bottom: 20px;
}

.contact-form select,
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #2D2848;
  color: #fff;
}

.contact-form textarea {
  height: 150px;
}

.contact-form button {
  background-color: #9B0DDA;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #D0289B;
}

@media (max-width: 768px) {
  body {
      font-size: 14px;
  }
  .container {
      width: 90%;
  }
}

/* Téléphones (480px et plus petites) */
@media (max-width: 480px) {
  body {
      font-size: 12px;
  }
  .container {
      width: 100%;
  }
}
